.classifieds-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    border-bottom: 2px solid;
}

.classifieds-navbar-middle {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#classifieds-classifieds-search-form-input {
    border-radius: 10px;
    padding-left: 20px;
    font-size: 25px;
    background: url(../assets/images/magnifying-glass-solid.svg) no-repeat 307px;
    background-size: 23px;
}

.classifieds-navbar-right {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

#classifieds-add-classified-button {
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
}

#classifieds-add-classified-button:hover {
    background-color: lightgray;
}

.classifieds-add-classified-modal-h1 {
    text-align: center;
    font-size: 30px;
}

.classifieds-add-classified-modal-formik-form {
    display: grid;
    grid-template-columns: 1fr;
}

.classifieds-add-classified-modal-formik-form-field {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 15px;
}

.classifieds-add-classified-modal-formik-form-field-text-area {
    height: 300px;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 15px;
    resize: none;
}

#classifieds-add-classified-modal-formik-form-button {
    background-color: white;
    border-radius: 4px;
    height: 30px;
    font-weight: bold;
    margin-top: 10px;
}

#classifieds-add-classified-modal-formik-form-button:hover {
    background-color: lightgray;
}

.classifieds-add-classified-modal-formik-form-field-error-message {
    color: lightcoral;
    text-align: center;
}

.classifieds-classifieds-h1 {
    font-size: 30px;
}

.classifieds-classifieds {
    padding-left: 25vw;
    padding-right: 25vw;
}

.classifieds-classifieds-classified {
    border: 2px solid;
    margin-bottom: 50px;
    border-radius: 4px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.classifieds-classifieds-classified-h2 {
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 9px;
}

.classifieds-classifieds-classified-h3 {
    margin-left: 17px;
    margin-right: 17px;
}

.classifieds-classifieds-classified-content {
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 17px;
}

#classifieds-classifieds-go-to-top-of-page-button {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid;
    z-index: 99;
    padding: 6px;
    cursor: pointer;
}

#classifieds-classifieds-go-to-top-of-page-button:hover {
    background-color: lightgray;
}

.classifieds-classifieds-load-more {
    text-align: center;
}

#classifieds-classifieds-load-more-button {
    border-radius: 4px;
    background-color: white;
    border: 2px solid;
    padding: 6px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 17px;
}

#classifieds-classifieds-load-more-button:hover {
    background-color: lightgray;
}

#classifieds-verify-phone-number-button {
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    margin-left: 10px;
}

#classifieds-verify-phone-number-button:hover {
    background-color: lightgray;
}

.classifieds-add-classified-modal-formik-form-field-is-phone-number-verified-error-message {
    color: lightcoral;
    text-align: center;
    margin-top: 16px;
}

@media only screen and (max-width: 1300px) {
    .classifieds-container {
        width: 1300px;
    }
}